.button {
  border: 1px solid #aaaaaa;
  padding: 3px 5px;
  color: #666666;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
  /* IE6-9 */ }
.button:hover {
  border: 1px solid #666666; }

form, #form, .form {
  margin: 10px 0px 0px 0px;
  padding: 0px; }
form .form-box, #form .form-box, .form .form-box {
  margin: 0px 0px 10px 0px;
  clear: both; }
form .form-box .label, #form .form-box .label, .form .form-box .label {
  font-size: 8pt;
  font-weight: bold;
  border-top: 1px solid #d5d4d9;
  border-right: 1px solid #d5d4d9;
  border-left: 1px solid #d5d4d9;
  padding: 1px 5px;
  display: inline;
  background: #e0e0e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0e0e0 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0e0e0 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e0e0e0 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e0e0e0 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow: 0 2px 0 #ffffff; }
form .form-box .content, #form .form-box .content, .form .form-box .content {
  clear: both;
  padding: 7px 5px;
  border: 1px solid #d5d4d9;
  display: table-cell;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
  /* IE6-9 */ }
form .form-box input, form .form-box select, #form .form-box input, #form .form-box select, .form .form-box input, .form .form-box select {
  border: 1px solid #d5d4d9;
  font-family: Tahoma, Georgia, Verdana;
  font-size: 9pt;
  padding: 2px 3px;
  width: 140px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }
form .form-box select, #form .form-box select, .form .form-box select {
  padding: 1px 2px; }
form .form-box input.span-2, form .form-box select.span-2, #form .form-box input.span-2, #form .form-box select.span-2, .form .form-box input.span-2, .form .form-box select.span-2 {
  width: 300px; }
form .form-box input.span-half, form .form-box select.span-half, #form .form-box input.span-half, #form .form-box select.span-half, .form .form-box input.span-half, .form .form-box select.span-half {
  width: 60px; }
form .form-box input.error, form .form-box select.error, #form .form-box input.error, #form .form-box select.error, .form .form-box input.error, .form .form-box select.error {
  background: #f8d9d1; }
form .form-box.float-left, #form .form-box.float-left, .form .form-box.float-left {
  clear: none;
  float: left;
  margin-right: 8px; }

.modal-status {
  display: block;
  float: right;
  font-size: 8pt;
  margin: 11px 10px 0px 0px;
  overflow: hidden; }

/*# sourceMappingURL=forms.css.map */
